@tailwind base;

/* Cyberpunk theme specific styles */
/* Cyberpunk Theme */
[data-theme="cyberpunk"] {
  --color-background: #021413;
  --color-background-muted: #032120;
  --color-background-hover: #042c29;
  --color-text: theme(colors.tron-blue);
  --color-text-muted: theme(colors.slate.400);
  --color-text-hover: theme(colors.blue.400);
  --color-text-primary: theme(colors.yellow.200);
  --color-text-secondary: theme(colors.red.200);
  --color-text-accent: theme(colors.cyan.200);
  --color-primary: theme(colors.yellow.500);
  --color-primary-muted: theme(colors.yellow.400);
  --color-primary-hover: theme(colors.yellow.600);
  --color-secondary: theme(colors.red.500);
  --color-secondary-muted: theme(colors.red.400);
  --color-secondary-hover: theme(colors.red.600);
  --color-accent: theme(colors.cyan.700);
  --color-accent-muted: theme(colors.cyan.600);
  --color-accent-hover: theme(colors.cyan.800);
  --color-error: theme(colors.red.500);
}

@layer base {
  .cyberpunk-background {
    @apply text-lg lg:text-xl animate-moveBackgroundDiagonal;
    background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.155) 2px,
      transparent 1px
    );
    background-size: 4rem 4rem;
  }

  [data-theme="cyberpunk"] {
    .btn {
      @apply clip-path-chamfered;
      @apply border border-primary bg-yellow-500/10 hover:bg-yellow-500/40 rounded-none;
    }

    .btn-secondary {
      @apply clip-path-chamfered;
      @apply border border-secondary bg-red-500/10 hover:bg-red-500/40 rounded-none;
    }

    .btn-accent {
      @apply clip-path-chamfered;
      @apply border border-accent bg-cyan-500/10 hover:bg-cyan-500/40 rounded-none;
    }

    .logo {
      @apply clip-path-chamfered-logo;
      @apply border border-primary bg-yellow-500/20 hover:bg-yellow-500/40 rounded-none;
    }

    .tag {
      @apply clip-path-chamfered text-center md:px-3 rounded-none;
      @apply border border-secondary bg-red-500/10;
    }

    .card {
      @apply text-text-secondary border-y-2 border-secondary rounded-none bg-red-700/30;
    }
    .card-hover {
      @apply text-text-accent border-y-2 border-accent rounded-none bg-cyan-700/30;
    }

    /* Add some effects to the corners of the card */
    .card-top,
    .card-bottom {
      @apply absolute left-0 w-full flex justify-between;
      @apply before:content-[''] before:h-1 before:w-6 before:bg-secondary;
      @apply after:content-[''] after:h-1 after:w-6 after:bg-secondary;
    }

    .card-top,
    .card-hover-top {
      @apply top-0;
    }

    .card-bottom,
    .card-hover-bottom {
      @apply bottom-0;
    }

    .card-hover-top,
    .card-hover-bottom {
      @apply absolute left-0 w-full flex justify-between;
      @apply before:content-[''] before:h-1 before:w-6 before:bg-accent;
      @apply after:content-[''] after:h-1 after:w-6 after:bg-accent;
    }
  }
}

[data-theme="cyberpunk"] body {
  @apply cyberpunk-background;
}
