@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme */
[data-theme="light"] {
  --color-text: #333333;
  --color-background: #ffffff;
  --color-primary: #3498db;
  --color-secondary: #2ecc71;
  --color-accent: #e74c3c;
}

/* Dark Theme */
[data-theme="dark"] {
  --color-text: #f9fafb;
  --color-background: #1a202c;
  --color-primary: #1e3a8a;
  --color-secondary: #10b981;
  --color-accent: #e74c3c;
}

/* Blue Theme */
[data-theme="blue"] {
  --color-text: #1a202c;
  --color-background: #e0f7fa;
  --color-primary: #007bff;
  --color-secondary: #6610f2;
  --color-accent: #ff7f50;
}

/* Green Theme */
[data-theme="green"] {
  --color-text: #1a202c;
  --color-background: #e9f7ef;
  --color-primary: #28a745;
  --color-secondary: #20c997;
  --color-accent: #ff6347;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Clash-Regular";
  font-weight: 400;
  src: url("/fonts/ClashRoyale/TTF/Clash-Regular.ttf");
}

@font-face {
  font-family: "Clash-Regular";
  font-weight: 100;
  src: url("/fonts/ClashRoyale/TTF/Clash-Light.ttf");
}

@font-face {
  font-family: "Coc";
  font-weight: 400;
  src: url("/fonts/Coc/coc-thick.ttf");
}

@font-face {
  font-family: "Coc";
  font-weight: 100;
  src: url("/fonts/Coc/coc-thin.ttf");
}

.clash-font-style {
  @apply text-white dark:text-slate-100 font-clash [text-shadow:_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black];
}

.bg-clash {
  @apply bg-gradient-to-b from-[#8c94ac] to-[#6c779b] dark:from-[#424652] dark:to-[#262a38] min-h-screen pb-4;
}

.coc-title {
  @apply text-center dark:text-slate-100 clash-font-style font-thin text-3xl;
}

.coc-font-style {
  @apply text-white dark:text-slate-100 font-coc font-thin [text-shadow:_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black];
}

@layer base {
  body {
    @apply bg-background text-text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }
}
