@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./cyberpunk-theme";
@import "./fire-theme";
@import "./shallow-reef-theme";
@import "./deep-ocean-theme";
@import "./hacker-theme";
@import "./minecraft-theme";

@import "./filepond-custom.module";
@import "./tiptap";

/*
  Guide:

  background is default page background
  background-muted is default card background
  background-hover is the sub-card background

  text is standard text colour on background
  text-muted is muted text colour, eg for placeholder text
  text-hover is for hyperlinks etc
  text-primary is the best text contrast against the primary colour
  text-secondary is the best text contrast against the secondary colour
  text-accent is the best text contrast against the accent colour

  primary is used for buttons
  secondary is used for buttons or tags of less importance
  accent is used for important actions and other small things (use sparingly)
  Use the hover variants for button hover
  
*/
/* Light Theme */
[data-theme="light"] {
  --color-background: theme(colors.stone.100);
  --color-background-muted: theme(colors.stone.200);
  --color-background-hover: theme(colors.stone.300);
  --color-text: theme(colors.slate.900);
  --color-text-muted: theme(colors.slate.500);
  --color-text-hover: theme(colors.blue.700);
  --color-text-primary: theme(colors.slate.50);
  --color-text-secondary: theme(colors.slate.50);
  --color-text-accent: theme(colors.slate.50);
  --color-primary: theme(colors.emerald.600);
  --color-primary-muted: theme(colors.emerald.500);
  --color-primary-hover: theme(colors.emerald.700);
  --color-secondary: theme(colors.cyan.600);
  --color-secondary-muted: theme(colors.cyan.500);
  --color-secondary-hover: theme(colors.cyan.700);
  --color-accent: theme(colors.red.600);
  --color-accent-muted: theme(colors.red.500);
  --color-accent-hover: theme(colors.red.700);
  --color-error: theme(colors.red.700);
}

/* Dark Theme */
[data-theme="dark"] {
  --color-background: theme(colors.stone.950);
  --color-background-muted: theme(colors.stone.900);
  --color-background-hover: theme(colors.stone.800);
  --color-text: theme(colors.slate.100);
  --color-text-muted: theme(colors.slate.200);
  --color-text-hover: theme(colors.blue.400);
  --color-text-primary: theme(colors.slate.50);
  --color-text-secondary: theme(colors.slate.50);
  --color-text-accent: theme(colors.slate.50);
  --color-primary: theme(colors.emerald.700);
  --color-primary-muted: theme(colors.emerald.600);
  --color-primary-hover: theme(colors.emerald.800);
  --color-secondary: theme(colors.cyan.700);
  --color-secondary-muted: theme(colors.cyan.600);
  --color-secondary-hover: theme(colors.cyan.800);
  --color-accent: theme(colors.red.700);
  --color-accent-muted: theme(colors.red.600);
  --color-accent-hover: theme(colors.red.800);
  --color-error: theme(colors.red.400);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: yellow;
}

/* Add global scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-background-hover);
}

::-webkit-scrollbar-thumb {
  background: var(--color-text);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-muted);
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-background text-text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }
}

@font-face {
  font-family: "Clash-Regular";
  font-weight: 400;
  src: url("/fonts/ClashRoyale/TTF/Clash-Regular.ttf");
}

@font-face {
  font-family: "Clash-Regular";
  font-weight: 100;
  src: url("/fonts/ClashRoyale/TTF/Clash-Light.ttf");
}

@font-face {
  font-family: "Coc";
  font-weight: 400;
  src: url("/fonts/Coc/coc-thick.ttf");
}

@font-face {
  font-family: "Coc";
  font-weight: 100;
  src: url("/fonts/Coc/coc-thin.ttf");
}

@font-face {
  font-family: "Munro";
  src: url("/fonts/Munro/munro.ttf") format("truetype");
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: "Munro";
  src: url("/fonts/Munro/munro-narrow.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Munro";
  src: url("/fonts/Munro/munro-small.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "Minecraft";
  src: url("/fonts/Minecraft/Minecraft-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Minecraft";
  src: url("/fonts/Minecraft/Minecraft-Italic.otf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Minecraft";
  src: url("/fonts/Minecraft/Minecraft-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Minecraft";
  src: url("/fonts/Minecraft/Minecraft-BoldItalic.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

.clash-font-style {
  @apply text-white dark:text-slate-100 font-clash [text-shadow:_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black];
}

.bg-clash {
  @apply bg-gradient-to-b from-[#8c94ac] to-[#6c779b] dark:from-[#424652] dark:to-[#262a38] min-h-screen pb-4;
}

.coc-title {
  @apply text-center dark:text-slate-100 clash-font-style font-thin text-3xl;
}

.coc-font-style {
  @apply text-white dark:text-slate-100 font-coc font-thin [text-shadow:_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black];
}

/*
  btn, btn-secondary, btn-accent use primary, secondary and accent colours respectively
  The invert versions use the same but the text colour is primary, secondary or accent and there is no bg
*/

.btn {
  @apply px-4 py-2 rounded-full shadow-md text-center;
  @apply bg-primary text-text-primary;
  @apply hover:bg-primary-hover;
  @apply transition-all;
}

.btn-secondary {
  @apply px-4 py-2 rounded-full shadow-md text-center;
  @apply bg-secondary text-text-secondary;
  @apply hover:bg-secondary-hover;
  @apply transition-all;
}

.btn-accent {
  @apply px-4 py-2 rounded-full shadow-md text-center;
  @apply bg-accent text-text-accent;
  @apply hover:bg-accent-hover;
  @apply transition-all;
}

.btn-invert {
  @apply px-4 py-2 rounded-full shadow-md text-center;
  @apply text-primary border-2 border-primary;
  @apply hover:bg-primary-hover hover:text-text-primary hover:border-primary-hover;
  @apply transition-all;
}

.btn-secondary-invert {
  @apply px-4 py-2 rounded-full shadow-md text-center;
  @apply text-secondary border-2 border-secondary;
  @apply hover:bg-secondary-hover hover:text-text-secondary hover:border-secondary-hover;
  @apply transition-all;
}

.btn-accent-invert {
  @apply px-4 py-2 rounded-full shadow-md text-center;
  @apply text-accent border-2 border-accent;
  @apply hover:bg-accent-hover hover:text-text-accent hover:border-accent-hover;
  @apply transition-all;
}

.card {
  @apply p-4 rounded-lg shadow-lg;
  @apply bg-background-muted;
}

.card-hover {
  @apply p-4 rounded-lg shadow-lg;
  @apply bg-background-hover;
}

.input-bg {
  @apply border-2 border-text-muted rounded-full px-4 py-1 md:py-2 bg-background placeholder:text-text-muted;
}

.input {
  @apply border-2 border-text-muted rounded-full px-4 py-1 md:py-2 bg-background-muted placeholder:text-text-muted;
}

.input-hover {
  @apply border-2 border-text-muted rounded-full px-4 py-1 md:py-2 bg-background-hover placeholder:text-text-muted;
}

.input:invalid,
.input[aria-invalid="true"],
.input-hover:invalid,
.input-hover[aria-invalid="true"],
.input-bg:invalid,
.input-bg[aria-invalid="true"] {
  @apply border-error;
}
