@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme */
[data-theme="light"] {
  --color-text: theme(colors.slate.900);
  --color-text-muted: theme(colors.slate.700);
  --color-text-hover: theme(colors.slate.800);
  --color-text-primary: theme(colors.slate.50);
  --color-text-secondary: theme(colors.slate.50);
  --color-text-accent: theme(colors.slate.50);
  --color-primary: theme(colors.emerald.600);
  --color-primary-muted: theme(colors.emerald.500);
  --color-primary-hover: theme(colors.emerald.700);
  --color-secondary: theme(colors.cyan.600);
  --color-secondary-muted: theme(colors.cyan.500);
  --color-secondary-hover: theme(colors.cyan.700);
  --color-background: theme(colors.stone.100);
  --color-background-muted: theme(colors.stone.200);
  --color-background-hover: theme(colors.stone.300);
  --color-accent: theme(colors.red.600);
  --color-accent-muted: theme(colors.red.500);
  --color-accent-hover: theme(colors.red.700);
}

/* Dark Theme */
[data-theme="dark"] {
  --color-text: #333333;
  --color-text-muted: #4f4f4f;
  --color-text-hover: #1a1a1a;
  --color-text-primary: #ffffff;
  --color-text-secondary: #ffffff;
  --color-text-accent: #ffffff;
  --color-primary: #4dca4f;
  --color-primary-muted: #68cd69;
  --color-primary-hover: #38bc3b;
  --color-secondary: #466365;
  --color-secondary-muted: #557375;
  --color-secondary-hover: #3a6366;
  --color-background: #ffffff;
  --color-background-muted: #efefef;
  --color-background-hover: #e1e1e1;
  --color-accent: #ce3b3b;
  --color-accent-muted: #d35050;
  --color-accent-hover: #bb2828;
}

/* Blue Theme */
[data-theme="blue"] {
  --color-text: #1a202c;
  --color-text-muted: #2d3748;
  --color-text-hover: #171923;
  --color-text-primary: #ffffff;
  --color-text-secondary: #ffffff;
  --color-text-accent: #ffffff;
  --color-primary: #007bff;
  --color-primary-muted: #339eff;
  --color-primary-hover: #005bbf;
  --color-secondary: #6610f2;
  --color-secondary-muted: #8534f5;
  --color-secondary-hover: #4a0db2;
  --color-background: #e0f7fa;
  --color-background-muted: #f0fcfc;
  --color-background-hover: #bfe7e9;
  --color-accent: #ff7f50;
  --color-accent-muted: #ff9d7a;
  --color-accent-hover: #cc643d;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Clash-Regular";
  font-weight: 400;
  src: url("/fonts/ClashRoyale/TTF/Clash-Regular.ttf");
}

@font-face {
  font-family: "Clash-Regular";
  font-weight: 100;
  src: url("/fonts/ClashRoyale/TTF/Clash-Light.ttf");
}

@font-face {
  font-family: "Coc";
  font-weight: 400;
  src: url("/fonts/Coc/coc-thick.ttf");
}

@font-face {
  font-family: "Coc";
  font-weight: 100;
  src: url("/fonts/Coc/coc-thin.ttf");
}

.clash-font-style {
  @apply text-white dark:text-slate-100 font-clash [text-shadow:_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black];
}

.bg-clash {
  @apply bg-gradient-to-b from-[#8c94ac] to-[#6c779b] dark:from-[#424652] dark:to-[#262a38] min-h-screen pb-4;
}

.coc-title {
  @apply text-center dark:text-slate-100 clash-font-style font-thin text-3xl;
}

.coc-font-style {
  @apply text-white dark:text-slate-100 font-coc font-thin [text-shadow:_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black,_0_2px_1px_black];
}

/*
  btn, btn-secondary, btn-accent use primary, secondary and accent colours respectively
  The invert versions use the same but the text colour is primary, secondary or accent and there is no bg
*/

.btn {
  @apply px-4 py-2 rounded-full shadow-md text-center;
  @apply bg-primary text-text-primary;
  @apply hover:bg-primary-hover;
  @apply transition-all;
}

.btn-secondary {
  @apply px-4 py-2 rounded-full shadow-md text-center;
  @apply bg-secondary text-text-secondary;
  @apply hover:bg-secondary-hover;
  @apply transition-all;
}

.btn-accent {
  @apply px-4 py-2 rounded-full shadow-md text-center;
  @apply bg-accent text-text-accent;
  @apply hover:bg-accent-hover;
  @apply transition-all;
}

.btn-invert {
  @apply px-4 py-2 rounded-full shadow-md text-center;
  @apply text-primary border-2 border-primary;
  @apply hover:bg-primary-hover hover:text-text-primary hover:border-primary-hover;
  @apply transition-all;
}

.btn-secondary-invert {
  @apply px-4 py-2 rounded-full shadow-md text-center;
  @apply text-secondary border-2 border-secondary;
  @apply hover:bg-secondary-hover hover:text-text-secondary hover:border-secondary-hover;
  @apply transition-all;
}

.btn-accent-invert {
  @apply px-4 py-2 rounded-full shadow-md text-center;
  @apply text-accent border-2 border-accent;
  @apply hover:bg-accent-hover hover:text-text-accent hover:border-accent-hover;
  @apply transition-all;
}

.card {
  @apply p-4 rounded-lg shadow-lg;
  @apply bg-background-muted;
}

.card-hover {
  @apply p-4 rounded-lg shadow-lg;
  @apply bg-background-hover;
}

@layer base {
  body {
    @apply bg-background text-text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }
}
