@tailwind base;

/* Hacker Theme */
[data-theme="hacker"] {
  --color-background: #020e07;
  --color-background-muted: #03180c;
  --color-background-hover: #042010;
  --color-text: theme(colors.slate.50);
  --color-text-muted: theme(colors.slate.200);
  --color-text-hover: theme(colors.blue.400);
  --color-text-primary: theme(colors.slate.100);
  --color-text-secondary: theme(colors.slate.100);
  --color-text-accent: theme(colors.slate.100);
  --color-primary: theme(colors.green.500);
  --color-primary-muted: theme(colors.green.800);
  --color-primary-hover: theme(colors.green.600);
  --color-secondary: theme(colors.green.900);
  --color-secondary-muted: theme(colors.green.800);
  --color-secondary-hover: theme(colors.green.600);
  --color-accent: theme(colors.green.500);
  --color-accent-muted: theme(colors.green.600);
  --color-accent-hover: theme(colors.green.400);
}

@layer base {
  [data-theme="hacker"] {
    /* body {
      @apply lg:text-xl;
      @apply bg-gradient-to-b from-blue-950 to-[#080d1e];
    } */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-green-500 uppercase font-munro;
    }

    h3 {
      @apply text-xl;
    }

    .card,
    .card-hover {
      @apply rounded-none border border-green-900;
    }

    .tag {
      @apply rounded-none font-mono;
    }

    .logo {
      @apply font-munro pl-[3px] pb-[3px];
    }

    .btn,
    .btn-secondary,
    .btn-accent {
      @apply uppercase font-mono;
      @apply rounded-none text-primary bg-transparent border border-green-400;
      @apply hover:bg-primary hover:text-white hover:border-white;
    }
  }
}
