@tailwind base;

[data-theme="minecraft"] {
  --color-background: theme(colors.stone.100);
  --color-background-muted: theme(colors.stone.200);
  --color-background-hover: theme(colors.stone.300);
  --color-text: theme(colors.black);
  --color-text-muted: theme(colors.slate.500);
  --color-text-hover: theme(colors.blue.700);
  --color-text-primary: theme(colors.slate.50);
  --color-text-secondary: theme(colors.slate.50);
  --color-text-accent: theme(colors.slate.50);
  --color-primary: theme(colors.emerald.600);
  --color-primary-muted: theme(colors.emerald.500);
  --color-primary-hover: theme(colors.emerald.700);
  --color-secondary: theme(colors.cyan.600);
  --color-secondary-muted: theme(colors.cyan.500);
  --color-secondary-hover: theme(colors.cyan.700);
  --color-accent: theme(colors.red.600);
  --color-accent-muted: theme(colors.red.500);
  --color-accent-hover: theme(colors.red.700);
}

@layer base {
  [data-theme="minecraft"] {
    body {
      @apply w-full h-full relative;
      background: linear-gradient(
        to bottom,
        #87ceeb 0%,
        #b1d7e6 20%,
        #32cd32 20%,
        #32cd32 25%,
        #8b4513 25%,
        #8b4513 60%,
        #808080 60%,
        #808080 95%,
        #333333 95%,
        #333333 100%
      );
      /* Grass layer */
      @apply before:absolute before:content-[""] before:bg-grass before:bg-repeat-x before:bg-[auto_5rem];
      @apply before:top-[20%] before:w-full before:h-[5rem] before:-z-10;
      /* Dirt layer (1 layer is covered by grass, other 5 is exposed */
      @apply after:absolute after:content-[""] after:bg-dirt after:bg-repeat after:bg-[auto_5rem];
      @apply after:top-[20%] after:w-full after:h-[30rem] after:z-[-11];
    }

    main {
      @apply font-minecraft;
    }

    .main-top {
      /* Stone layer */
      @apply before:absolute before:content-[""] before:bg-stone before:bg-repeat before:bg-[auto_5rem];
      @apply before:top-[20%] before:w-full before:h-[40%] before:z-[-12];
      /* Deepslate layer */
      @apply after:absolute after:content-[""] after:bg-deepslate after:bg-repeat after:bg-[auto_5rem];
      @apply after:top-[60%] after:w-full after:h-[40%] after:z-[-13];
    }

    .main-bottom {
      @apply absolute content-[""] bg-bedrock bg-repeat bg-[auto_5rem];
      @apply bottom-0 w-full h-[25rem] z-[-11];
    }
  }
}
