@tailwind base;

[data-theme="minecraft"] {
  --color-background: theme(colors.stone.100);
  --color-background-muted: theme(colors.stone.200);
  --color-background-hover: theme(colors.stone.300);
  --color-text: theme(colors.black);
  --color-text-muted: theme(colors.slate.500);
  --color-text-hover: theme(colors.blue.700);
  --color-text-primary: theme(colors.slate.50);
  --color-text-secondary: theme(colors.slate.50);
  --color-text-accent: theme(colors.slate.50);
  --color-primary: theme(colors.emerald.600);
  --color-primary-muted: theme(colors.emerald.500);
  --color-primary-hover: theme(colors.emerald.700);
  --color-secondary: theme(colors.cyan.600);
  --color-secondary-muted: theme(colors.cyan.500);
  --color-secondary-hover: theme(colors.cyan.700);
  --color-accent: theme(colors.red.600);
  --color-accent-muted: theme(colors.red.500);
  --color-accent-hover: theme(colors.red.700);
}

@layer base {
  [data-theme="minecraft"] {
    body {
      position: relative;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        #87ceeb 0%,
        #b1d7e6 20%,
        #32cd32 20%,
        #32cd32 25%,
        #8b4513 25%,
        #8b4513 60%,
        #808080 60%,
        #808080 95%,
        #333333 95%,
        #333333 100%
      );
      /* z-index: -50; */
    }

    main {
      @apply font-minecraft;
    }

    /* 1 Layer of grass */
    body::before {
      content: "";
      position: absolute;
      top: 20%;
      width: 100%;
      height: 5rem;
      background-image: url("/assets/textures/minecraft/grass.webp");
      background-repeat: repeat-x;
      background-size: auto 5rem;
      z-index: -10;
    }

    /* 6 layers of dirt (including grass */
    body::after {
      content: "";
      position: absolute;
      top: 20%;
      width: 100%;
      height: 30rem;
      background-image: url("/assets/textures/minecraft/dirt.webp");
      background-repeat: repeat;
      background-size: auto 5rem;
      z-index: -11;
    }

    .main-top::before {
      content: "";
      position: absolute;
      top: 20%;
      width: 100%;
      height: 40%;
      background-image: url("/assets/textures/minecraft/stone.webp");
      background-repeat: repeat;
      background-size: auto 5rem;
      z-index: -12;
    }
    .main-top::after {
      content: "";
      position: absolute;
      top: 60%;
      width: 100%;
      height: 40%;
      background-image: url("/assets/textures/minecraft/deepslate.webp");
      background-repeat: repeat;
      background-size: auto 5rem;
      z-index: -13;
    }
    .main-bottom::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 25rem;
      background-image: url("/assets/textures/minecraft/bedrock.webp");
      background-repeat: repeat;
      background-size: auto 5rem;
      z-index: -11;
    }
  }
}
