@tailwind base;

[data-theme="minecraft"] {
  --color-background: theme(colors.black);
  --color-background-muted: theme(colors.stone.800);
  --color-background-hover: theme(colors.stone.900);
  --color-text: theme(colors.stone.100);
  --color-text-muted: theme(colors.stone.200);
  --color-text-hover: theme(colors.blue.500);
  --color-text-primary: theme(colors.slate.50);
  --color-text-secondary: theme(colors.slate.50);
  --color-text-accent: theme(colors.slate.50);
  --color-primary: theme(colors.emerald.600);
  --color-primary-muted: theme(colors.emerald.500);
  --color-primary-hover: theme(colors.emerald.700);
  --color-secondary: theme(colors.cyan.600);
  --color-secondary-muted: theme(colors.cyan.500);
  --color-secondary-hover: theme(colors.cyan.700);
  --color-accent: theme(colors.red.600);
  --color-accent-muted: theme(colors.red.500);
  --color-accent-hover: theme(colors.red.700);
  --color-error: theme(colors.red.400);
}

@layer base {
  [data-theme="minecraft"] {
    body {
      @apply w-full h-full relative;
      background: linear-gradient(
        to bottom,
        #68b4d2 0%,
        #b1d7e6 20%,
        #32cd32 20%,
        #32cd32 25%,
        #8b4513 25%,
        #8b4513 60%,
        #808080 60%,
        #808080 95%,
        #333333 95%,
        #333333 100%
      );
      /* Grass layer */
      @apply before:absolute before:content-[""] before:bg-grass before:bg-repeat-x before:bg-[auto_5rem];
      @apply before:top-[20%] before:w-full before:h-[5rem] before:-z-10;
      /* Dirt layer (1 layer is covered by grass, other 5 is exposed */
      @apply after:absolute after:content-[""] after:bg-dirt after:bg-repeat after:bg-[auto_5rem];
      @apply after:top-[20%] after:w-full after:h-[20rem] after:z-[-11];
    }

    main {
      @apply font-minecraft;
    }

    .main-top {
      /* Stone layer */
      @apply before:absolute before:content-[""] before:bg-stone before:bg-repeat before:bg-[auto_5rem];
      @apply before:top-[20%] before:w-full before:h-[40%] before:z-[-12];
      /* Deepslate layer */
      @apply after:absolute after:content-[""] after:bg-deepslate after:bg-repeat after:bg-[auto_5rem];
      @apply after:top-[60%] after:w-full after:h-[40%] after:z-[-13];
    }

    .main-bottom {
      /* Bedrock layer */
      @apply absolute content-[""] bg-bedrock bg-repeat bg-[auto_5rem];
      @apply bottom-0 w-full h-[10rem] z-[-11];
    }

    .main-top-2 {
      @apply invisible lg:visible absolute top-24 left-20 w-20 h-20 bg-yellow-50 content-[''] shadow-glow-sun;
    }

    .tag {
      @apply rounded-none bg-black;
    }

    .btn,
    .btn-secondary,
    .btn-accent,
    .logo {
      @apply bg-smooth_stone bg-repeat bg-[auto_4rem] transition-none relative;
      @apply text-zinc-100 hover:text-yellow-300 text-lg;
      @apply outline outline-2 outline-black border-2 border-t-stone-300 border-l-stone-300 border-b-stone-500 border-r-stone-500;
      @apply hover:border-t-indigo-300 hover:border-l-indigo-300 hover:border-r-indigo-500 hover:border-b-indigo-500;
      @apply rounded-none;
      @apply before:invisible before:hover:visible before:-z-10 before:bg-indigo-400/40 before:h-full before:w-full before:absolute before:top-0 before:left-0;
      @apply z-10; /* Ensures text is above the ::before pseudo-element */
      text-shadow: 1px 1px black;
    }

    .logo {
      @apply text-3xl pl-[2px] hover:rounded-none;
    }

    .card > h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-white underline;
    }

    .card,
    .card-hover {
      @apply text-stone-200 border-4 border-black relative;
      @apply bg-dirt bg-repeat bg-[auto_6rem];
      @apply before:bg-black/60 before:h-full before:w-full before:absolute before:top-0 before:left-0 before:-z-10;
      @apply z-10;
    }

    .card-hover {
      @apply before:bg-black/70 bg-[auto_6rem] text-stone-100 bg-stone;
    }

    .footer {
      @apply bg-black text-white;
    }
  }
}
